html,
body,
#root {
  height: 100%;
}

#title {
  font-size: 2rem;
  margin-bottom: 10px;
  background-color: rgb(25, 118, 210);
  color: rgb(255, 255, 255);
}

#title div {
  margin: auto;
  width: 60%;
  font-weight: 700;
  padding-bottom: 5px;
}
